body{
    background-color: #ebebec;
    color: #1a1818;
}
#cart-icon {
    width: 25px;
    display: inline-block;
    margin-left: 15px;
}
#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: red;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}
.display-3 {
    color: red;
}
.row-image {
    width: 100px;
    border-color: red;
}
.form-field {
    width: 250px;
    display: inline-block;
    padding: 5px;

}